.aboutme{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 15rem)) 1fr;
    font-size: 1.6rem;
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Calibre-Semibold,sans-serif;
}
.myself{
    grid-column: 2/14;
    padding:3rem;
    &-box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 5rem;
        color: whitesmoke;
        margin-top: 6rem;
    }
    &-cloud{
        padding: 2rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
}



.tag{
    padding-right: 9rem;
}